body{
    background-color:rgba(255, 255, 255, 0.863);
    
}



.navbar-brand{
    margin-right: 320px;
}

label{
    margin:10px;
}

.right.btn{
    margin:15px;
}

table{

    background-color:black;
    font-size: 14px;
}
td{
    background-color:rgba(255, 255, 255, 0.863);
    box-shadow:5px 5px 5px 2px rgba(0, 0, 0, 0.329);
    color: rgba(0, 0, 0, 0.685);
    text-align: center;
}

thead{
    color:white;
}

.sorting_1{
    color:white;
    text-align: center;
}

a{
    color:rgba(0, 0, 0, 0.685);
}
table.dataTable tr.even td.sorting_1 {
    background-color: black;
    margin:10px;
}
table.dataTable tr.odd td.sorting_1 {
    background-color: black;
    margin:10px;
}
.paginate_disabled_previous, .paginate_disabled_next {
    color:rgba(0, 0, 0, 0.685); 
    margin:10px;
}

.paginate_enabled_next{
    color:rgba(0, 0, 0, 0.685); 
    margin:10px;
}

.paginate_enabled_previous{
    color:rgba(0, 0, 0, 0.685); 
    margin:10px;
}



