{% extends "compartilhado/base.html" %}


{% block head %}
  {{ super() }}
  {% include "compartilhado/tabela.html" %}  
  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style-table.css')}}">
{% endblock %}


  

{% block content %}
    
     <div class="container-fluid">
    <table id="niveisusuario">
        <a class="right btn btn-success" href="/nivel">Adicionar Nível de Usuário</a>
        <thead>
          <tr><th class="sections">Id</th><th>Nível</th><th></th></tr>       </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    
      
  
<script>
  var niveisusuario={{niveisusuario|tojson}};
  console.log(niveisusuario);
  var targets = [{
            "sTitle":"Nome"
          , "aTargets": [ "sections" ]
        },{
      "aTargets": [ 2 ]
      , "bSortable": false
      , "mRender": function ( data, type, full )  {
        return  '<a href="nivel/'+ full["id"] +'">Editar</a> | <a href="nivel/'+ full["id"] +'/delete"> Remover</a>';
      }}];
          
  cabecalho = ["id","nivel",""];
  tabelaDatatable("#niveisusuario",niveisusuario, cabecalho,targets);
  
;
</script>
{% endblock %}
